body {
  font-family: "Roboto", sans-serif;
  background: #11101d;
  color: #ffffff;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background: rgba(24, 21, 37, 0.7);
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  padding: 16px;
  background: #ffffff;
  text-decoration: none;
  text-align: center;
  color: #11101d;
  text-transform: uppercase;
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

section {
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/babymetal-songs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/babymetal-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 5px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
  color: black;
  padding: 16px 32px;
  margin-top: 32px;
}

main {
  background-color: #181525;
}

main img {
  width: 100%;
}

main h2 {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #ffffff;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-family: Poppins;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

main h4 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 1px;
  margin: 0;
}

main h5 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

main p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.5;
}

footer {
  background-image: linear-gradient(rgba(2, 4, 3, 0.8), rgba(2, 4, 3, 0.8)),
    url("../images/babymetal-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

footer h3 {
  font-family: "Playfair Display";
  font-weight: 700;
  size: 24px;
  line-height: 1.5;
}

footer p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.8;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.8;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }
}
